:root {
    --blanco: #FFFFFF;
    --blancoHover: #EEEEEE;
    --naranja: #F58B7B;
    --verde200: #629E96;
    --verde500: #18A583;
    --rosado: #F37CA0;
    --fontSizeParrafo: 1.8rem;
}
.nav_secundario {
    top: 10rem;
    z-index: 1;
    width: 100%;
    height: 7.5rem;
    position: absolute;
    border-radius: 0 0 6rem 6rem;
    background-color: var(--naranja);
}
.nav_secundario ul {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -100%;
    transform: translate(0%, -100%);
    justify-content: center;
}
.nav_secundario ul li a {
    font-weight: 400;
    font-size: 1.8rem;
    margin-right: 3rem;
    color: var(--blanco);
    transition: color .2s;
}
.nav_secundario ul li a:hover {
    color: var(--blancoHover)
}
.historia {
    padding: 0 140px;
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
}
.historia > .contenedor_imagen {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    align-items: center;
}
.historia > .contenedor_imagen > img {
    width: 400rem;
}
.historia > .contenedor_imagen > a {
    width: 32rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.historia > .contenedor_imagen > a > img {
    width: 91px;
    height: 59px;
    margin-right: 1rem;
}
.historia > .contenedor_imagen > a > p {
    font-size: 1.5rem;
    color: var(--verde200);
    font-weight: 400;
}
.historia > .contenedor_texto > h1{
    color: var(--naranja);
}
.historia > .contenedor_texto > p{
    color: var(--verde200);
    font-size: var(--fontSizeParrafo);
    font-weight: 400;
}
.quienes_somos {
    display: flex;
    position: relative;
    margin: 5.5rem 0 7.5rem 0;
    padding: 5rem 14rem;
    flex-direction: row;
    background-color: var(--verde500);
}
.quienes_somos > img {
    width: 23rem;
    height: 31rem;
    position: absolute;
}
.quienes_somos > img:first-child {
    left: 0;
    top: -15%;
}
.quienes_somos > img:last-child {
    right: 0;
    top: -15%;
}
.quienes_somos > .texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12rem;
    color: var(--blanco);
    justify-content: center;
    font-size: var(--fontSizeParrafo);
}
.quienes_somos > .texto > img {
    width: 34rem;
    margin-right: 7rem;
}
.mision_vision {
    display: flex;
    padding: 0 140px;
    flex-direction: row;
}
.mision_vision p {
    font-size: var(--fontSizeParrafo);
    color: var(--verde200);
    font-weight: 400;
}
.mision_vision .titulo {
    display: flex;
    flex-direction: row;
}
.mision_vision .titulo img {
    margin-left: 1.5rem;
    width: 5rem;
    height: 5rem;
}
.mision_vision .titulo h2 {
    font-size: 4.8rem;
    margin: 0;
}
.mision_vision .mision,
.mision_vision .vision {
    margin-right: 9rem;
}
.mision_vision > .mision h2 {
    color: var(--verde500);
}
.mision_vision > .vision h2 {
    color: var(--rosado);
}
